@use 'variaveis';
@use 'header';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'devices';
@use 'faq';
@use 'footer';


@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-bold.woff2);
  font-weight: 700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  list-style: none;
}



body{
  background-color:variaveis.$corDeFundo;
  
}

@mixin text($fontSize:16px){
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variaveis.$corTextoPrincipal;
}
@mixin title($fontSize:40px){
  @include text($fontSize);
  color:variaveis.$corTextoSecundaria;

  @media(max-width:768){
    font-size: 24px;
  }
}


.text--lg{
  @include text(18px);

  @media (max-width:768px){
    @include text(15px);
  }
}
.text--md{
  @include text;
  @media (max-width:768px){
    @include text(14px);
  }
}
.text--sm{
  @include text(12px);

  @media (max-width:768px){
    @include text(11px);
  }
}
.title--lg{
  @include title(44px);

  @media (max-width:768px){
    @include title(26px);
  }

}
.title--md{
  @include title;

  @media (max-width:768px){
    @include title(24px);
  }
  
}
.title--sm{
  @include title(28px);

  @media (max-width:768px){
    @include title(22px);
  }
}

.link-text{
  @include text(18px);
  color:variaveis.$corTextoSecundaria;
  text-decoration: underline;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: variaveis.$corTextoSecundaria;
  background-color: variaveis.$corBotaoPrimario;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 14px;
  letter-spacing: 1px;
  border: 1px solid variaveis.$corBotaoPrimario;
  text-transform: uppercase;

  &--secondary{
    background-color: variaveis.$corBotaoSecundario;
    border-color: variaveis.$corBotaoSecundario;

    &:hover{
      background-color:lighten(variaveis.$corBotaoSecundario,3%)!important;
    }
  }
  &--dark{
    background-color: rgba(variaveis.$corBotaoDark,0.8);
    border-color: variaveis.$corTextoSecundaria;

    &:hover{
      background-color:variaveis.$corTextoSecundaria !important;
      color: variaveis.$corBotaoDark;
    }
  }

  &:hover{
    background-color:lighten(variaveis.$corBotaoPrimario,3%);
  }
}

.image-text-section{
  padding: 5.6vw;
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @media(max-width:768px){
    display: block;
    text-align: center;
  }

  img{
    max-width: 100%;
  }
  &__text_container{
    padding: 0 2vw;

    h2{
      margin-bottom: 24px;

      @media(max-width:768px){
        margin-top: 20px;
      }
    }
  }

  &--image-full-width{
    display: block;
    position: relative;
    img{
      width: 100%;
    }
    &__text_container{
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      display: flex;
      width: calc(50% - 5.6vw);
      flex-direction: column;
      justify-content: center;

      @media(max-width:768px){
        position: relative;
        left: 0;
        width: 100%;
      }
    }
  }
}